<?xml version="1.0"?>
<robot name="arm" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:arg name="is_sim" default="true"/>
    <xacro:include filename="$(find arm_description)/urdf/arm.macro.xacro"/>
    <xacro:arm is_sim="$is_sim"/>

    <xacro:if value="$(arg is_sim)">
        <xacro:include filename="$(find arm_control)/urdf/gazebo_control.xacro"/>
    </xacro:if>
    <xacro:unless value="$(arg is_sim)">
        <xacro:include filename="$(find arm_control)/urdf/ros2_control.xacro"/>
    </xacro:unless>

</robot>