controller_manager:
  ros__parameters:
    update_rate: 100  # Hz

    joint_state_broadcaster:
      type: joint_state_broadcaster/JointStateBroadcaster


    arm_controller:
      type: joint_trajectory_controller/JointTrajectoryController


    # hand_controller:
    #   type: joint_trajectory_controller/JointTrajectoryController


arm_controller:
  ros__parameters:
    joints:
      - joint_1
      - joint_2
      - joint_3
      - joint_4

    command_interfaces:
      - position

    state_interfaces:
      - position
    allow_partial_joints_goal : true

# hand_controller:
#   ros__parameters:
#     joints:
#       - finger_joint
#     command_interfaces:
#       - position
#     state_interfaces:
#       - position