controller_manager:
  ros__parameters:
    update_rate: 100  # Hz

    joint_state_broadcaster:
      type: joint_state_broadcaster/JointStateBroadcaster

    forward_command_controller:
      type: forward_command_controller/ForwardCommandController

forward_command_controller:
  ros__parameters:
    joints:
      - base_joint
      - shoulder_joint
    interface_name: position